* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.container {
  width: 400px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#taskInput {
  flex: 1;
  min-width: 200px;
}

#dateInput,
#timeInput {
  width: 160px;
}

button {
  padding: 10px 18px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

ul {
  margin-top: 20px;
  list-style: none;
}

li {
  background: #eee;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}

.delete-btn {
  background: red;
  padding: 5px 10px;
  border-radius: 5px;
}
.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
.complete-btn {
  background: green;
  margin-right: 5px;
}
.edit-btn {
  background: orange;
  margin-right: 5px;
}
.task-date {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}
.task-info {
  flex: 1;
}
.filters {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.filters button {
  flex: 1;
}
/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* DARK MODE */

.dark-mode {
  background: #121212;
}

.dark-mode .container {
  background: #1e1e1e;
  color: white;
}

.dark-mode li {
  background: #2a2a2a;
}

.dark-mode input {
  background: #2a2a2a;
  color: white;
  border: 1px solid #444;
}

.dark-mode .task-date {
  color: #aaa;
}

.dark-mode button {
  opacity: 0.95;
}